In [59]:
import pandas as pd
START_SEASON = 2004

In [94]:
df_clubs_overview = pd.read_pickle("./df_clubs_overview.pkl")
df_matchday_data = pd.read_pickle("./df_matchday_data.pkl")
df_transfer_data = pd.read_pickle("./df_transfer_data.pkl")

# Merging all dataframes
First renaming clubs, then merge club data with the matchday data

In [95]:
df_clubs_overview['season'] = df_clubs_overview['season'].astype(int)
club_df = df_clubs_overview[df_clubs_overview['season'] >= START_SEASON]
club_df.CLUB_NAME.unique()

array(['FC Bayern München', 'SV Werder Bremen', 'Bayer 04 Leverkusen',
       'FC Schalke 04', 'VfB Stuttgart', 'Borussia Dortmund',
       'Hertha BSC', 'Hamburger SV', 'VfL Wolfsburg',
       'Borussia Mönchengladbach', 'Hannover 96', '1.FC Nürnberg',
       '1.FC Kaiserslautern', 'VfL Bochum', 'FC Hansa Rostock',
       'Arminia Bielefeld', 'SC Freiburg', '1.FSV Mainz 05', '1.FC Köln',
       'Eintracht Frankfurt', 'MSV Duisburg', 'Alemannia Aachen',
       'FC Energie Cottbus', 'Karlsruher SC', 'TSG 1899 Hoffenheim',
       'FC St. Pauli', 'FC Augsburg', 'SpVgg Greuther Fürth',
       'Fortuna Düsseldorf', 'Eintracht Braunschweig', 'SC Paderborn 07',
       'FC Ingolstadt 04', 'SV Darmstadt 98', 'RasenBallsport Leipzig',
       '1.FC Union Berlin'], dtype=object)

In [96]:
nan_count = club_df.isna().sum()
print(nan_count)
print(len(club_df))

CLUB_NAME             0
PLAYERS_COUNT         0
PLAYERS_AVG_AGE       0
LEGIONARIES_COUNT     0
AVG_MARKET_VALUE      0
TOTAL_MARKET_VALUE    0
season                0
dtype: int64
342

In [97]:
df_matchday_data['SEASON'] = df_matchday_data['SEASON'].astype(int)
match_df = df_matchday_data[df_matchday_data['SEASON'] >= START_SEASON]
match_df.HOME_TEAM.unique()

array(['Werder Bremen', "1.FC K'lautern", 'SC Freiburg', 'Bor. Dortmund',
       'B. Leverkusen', 'Hertha BSC', 'Hamburger SV', 'Arm. Bielefeld',
       'VfB Stuttgart', '1.FSV Mainz 05', 'Bayern München',
       "Bor. M'gladbach", 'Hansa Rostock', 'FC Schalke 04',
       '1.FC Nürnberg', 'VfL Bochum', 'VfL Wolfsburg', 'Hannover 96',
       'MSV Duisburg', '1.FC Köln', 'E. Frankfurt', 'Energie Cottbus',
       'Alem. Aachen', 'Karlsruher SC', 'TSG Hoffenheim', 'FC St. Pauli',
       'FC Augsburg', 'Greuther Fürth', 'F. Düsseldorf',
       'E. Braunschweig', 'SC Paderborn', 'Darmstadt 98', 'FC Ingolstadt',
       'RB Leipzig', 'Union Berlin'], dtype=object)

In [98]:
nan_count = match_df.isna().sum()
print(nan_count)
print(len(match_df))

DATE                  0
WEEKDAY               0
MONTH                 0
SEASON                0
MATCHDAY              0
HOME_TEAM             0
PLACE_HOME_TEAM       0
AWAY_TEAM             0
PLACE_AWAY_TEAM       0
WIN_PERC_HOME      1530
REMIS_PERC         1530
WIN_PERC_AWAY      1530
HOME_GOALS            0
AWAY_GOALS            0
RESULT                0
REFEREE               0
dtype: int64
5814

In [99]:
df_transfer_data['season'] = df_transfer_data['season'].astype(int)
transfer_df = df_transfer_data[df_transfer_data['season'] >= START_SEASON]
transfer_df.CLUB_NAME.unique()

array(['SV Werder Bremen', 'FC Bayern München', 'Bayer 04 Leverkusen',
       'VfB Stuttgart', 'VfL Bochum', 'Borussia Dortmund',
       'FC Schalke 04', 'Hamburger SV', 'FC Hansa Rostock',
       'VfL Wolfsburg', 'Borussia Mönchengladbach', 'Hertha BSC',
       'SC Freiburg', 'Hannover 96', '1.FC Kaiserslautern',
       '1.FC Nürnberg', 'Arminia Bielefeld', '1.FSV Mainz 05',
       'Eintracht Frankfurt', '1.FC Köln', 'MSV Duisburg',
       'Alemannia Aachen', 'FC Energie Cottbus', 'Karlsruher SC',
       'TSG 1899 Hoffenheim', 'FC St. Pauli', 'FC Augsburg',
       'SpVgg Greuther Fürth', 'Fortuna Düsseldorf',
       'Eintracht Braunschweig', 'SC Paderborn 07', 'FC Ingolstadt 04',
       'SV Darmstadt 98', 'RasenBallsport Leipzig', '1.FC Union Berlin'],
      dtype=object)

In [100]:
nan_count = transfer_df.isna().sum()
print(nan_count)
print(len(transfer_df))

CLUB_NAME                  0
AVG_AGE_JOINING            0
AVG_AGE_LEAVING            0
TOTAL_VALUE_JOINING_MIO    0
TOTAL_VALUE_LEAVING_MIO    0
EXPENSES_JOINING_MIO       0
REVENUE_LEAVING_MIO        0
season                     0
dtype: int64
342

In [101]:
club_mappings = {
   'Werder Bremen': 'SV Werder Bremen',
    "1.FC K'lautern": '1.FC Kaiserslautern',
    'SC Freiburg': 'SC Freiburg',
    'Bor. Dortmund': 'Borussia Dortmund',
    'B. Leverkusen': 'Bayer 04 Leverkusen',
    'Hertha BSC': 'Hertha BSC',
    'Hamburger SV': 'Hamburger SV',
    'Arm. Bielefeld': 'Arminia Bielefeld',
    'VfB Stuttgart': 'VfB Stuttgart',
    '1.FSV Mainz 05': '1.FSV Mainz 05',
    'Bayern München': 'FC Bayern München',
    "Bor. M'gladbach": 'Borussia Mönchengladbach',
    'Hansa Rostock': 'FC Hansa Rostock',
    'FC Schalke 04': 'FC Schalke 04',
    '1.FC Nürnberg': '1.FC Nürnberg',
    'VfL Bochum': 'VfL Bochum',
    'VfL Wolfsburg': 'VfL Wolfsburg',
    'Hannover 96': 'Hannover 96',
    'MSV Duisburg': 'MSV Duisburg',
    '1.FC Köln': '1.FC Köln',
    'E. Frankfurt': 'Eintracht Frankfurt',
    'Energie Cottbus': 'FC Energie Cottbus',
    'Alem. Aachen': 'Alemannia Aachen',
    'Karlsruher SC': 'Karlsruher SC',
    'TSG Hoffenheim': 'TSG 1899 Hoffenheim',
    'FC St. Pauli': 'FC St. Pauli',
    'FC Augsburg': 'FC Augsburg',
    'Greuther Fürth': 'SpVgg Greuther Fürth',
    'F. Düsseldorf': 'Fortuna Düsseldorf',
    'E. Braunschweig': 'Eintracht Braunschweig',
    'SC Paderborn': 'SC Paderborn 07',
    'Darmstadt 98': 'SV Darmstadt 98',
    'FC Ingolstadt': 'FC Ingolstadt 04',
    'RB Leipzig': 'RasenBallsport Leipzig',
    'Union Berlin': '1.FC Union Berlin'
}

In [103]:
# renaming club names in the matchday data
match_df = match_df.copy()
match_df['HOME_TEAM'] = match_df['HOME_TEAM'].replace(club_mappings)
match_df['AWAY_TEAM'] = match_df['AWAY_TEAM'].replace(club_mappings)

# Anwendung des Mappings in transfer_df
transfer_df = transfer_df.copy()
transfer_df['CLUB_NAME'] = transfer_df['CLUB_NAME'].replace(club_mappings)

In [104]:
# merge club data with transfer data for each club and season
tmp_df = pd.merge(club_df, transfer_df, on=['CLUB_NAME', 'season'])

In [105]:
nan_count = tmp_df.isna().sum()
print(nan_count)
print(len(tmp_df))

CLUB_NAME                  0
PLAYERS_COUNT              0
PLAYERS_AVG_AGE            0
LEGIONARIES_COUNT          0
AVG_MARKET_VALUE           0
TOTAL_MARKET_VALUE         0
season                     0
AVG_AGE_JOINING            0
AVG_AGE_LEAVING            0
TOTAL_VALUE_JOINING_MIO    0
TOTAL_VALUE_LEAVING_MIO    0
EXPENSES_JOINING_MIO       0
REVENUE_LEAVING_MIO        0
dtype: int64
342

In [106]:
set_club_transfer_teams = set(tmp_df['CLUB_NAME'])
set_match_df_teams = set(match_df['HOME_TEAM']).union(set(match_df['AWAY_TEAM']))
are_equal = set_club_transfer_teams == set_match_df_teams
print(f"The columns are equal: {are_equal}")

The columns are equal: True

In [107]:
print(set_club_transfer_teams)
print(len(set_club_transfer_teams))

{'Hertha BSC', '1.FC Union Berlin', 'MSV Duisburg', 'FC Hansa Rostock', 'RasenBallsport Leipzig', 'Borussia Dortmund', 'Bayer 04 Leverkusen', '1.FSV Mainz 05', '1.FC Köln', 'SV Werder Bremen', 'Eintracht Frankfurt', 'Karlsruher SC', 'SpVgg Greuther Fürth', 'Alemannia Aachen', 'Hannover 96', '1.FC Nürnberg', 'VfL Wolfsburg', 'Borussia Mönchengladbach', 'SC Freiburg', 'Eintracht Braunschweig', 'Arminia Bielefeld', 'FC St. Pauli', '1.FC Kaiserslautern', 'VfL Bochum', 'SV Darmstadt 98', 'FC Energie Cottbus', 'FC Augsburg', 'TSG 1899 Hoffenheim', 'Fortuna Düsseldorf', 'SC Paderborn 07', 'FC Schalke 04', 'FC Bayern München', 'VfB Stuttgart', 'FC Ingolstadt 04', 'Hamburger SV'}
35

In [108]:
print(set_match_df_teams)
print(len(set_match_df_teams))

{'Hertha BSC', '1.FC Union Berlin', 'MSV Duisburg', 'FC Hansa Rostock', 'RasenBallsport Leipzig', 'Borussia Dortmund', 'Bayer 04 Leverkusen', '1.FSV Mainz 05', '1.FC Köln', 'SV Werder Bremen', 'Eintracht Frankfurt', 'Karlsruher SC', 'SpVgg Greuther Fürth', 'Alemannia Aachen', 'Hannover 96', '1.FC Nürnberg', 'VfL Wolfsburg', 'Borussia Mönchengladbach', 'SC Freiburg', 'Eintracht Braunschweig', 'Arminia Bielefeld', 'FC St. Pauli', '1.FC Kaiserslautern', 'VfL Bochum', 'SV Darmstadt 98', 'FC Energie Cottbus', 'FC Augsburg', 'TSG 1899 Hoffenheim', 'Fortuna Düsseldorf', 'SC Paderborn 07', 'FC Schalke 04', 'FC Bayern München', 'VfB Stuttgart', 'FC Ingolstadt 04', 'Hamburger SV'}
35

In [109]:
# Teams in set1 but not in set2
difference1 = set_club_transfer_teams - set_match_df_teams

# Teams in set2 but not in set1
difference2 = set_match_df_teams - set_club_transfer_teams

# Combine both differences
all_differences = difference1.union(difference2)

print(f"Teams in set1 but not in set2: {difference1}")
print(f"Teams in set2 but not in set1: {difference2}")
print(f"All differing teams: {all_differences}")
print(len(all_differences))

Teams in set1 but not in set2: set()
Teams in set2 but not in set1: set()
All differing teams: set()
0

In [110]:
# merge matchday data for home team
tmp2_df = match_df.merge(tmp_df, left_on=['HOME_TEAM', 'SEASON'], right_on=['CLUB_NAME', 'season'], how='left')
tmp2_df = tmp2_df.rename(columns={
    'PLAYERS_COUNT': 'HOME_PLAYERS_COUNT',
    'PLAYERS_AVG_AGE': 'HOME_PLAYERS_AVG_AGE',
    'LEGIONARIES_COUNT': 'HOME_LEGIONARIES_COUNT',
    'AVG_MARKET_VALUE': 'HOME_AVG_MARKET_VALUE',
    'TOTAL_MARKET_VALUE': 'HOME_TOTAL_MARKET_VALUE',
    'AVG_AGE_JOINING': 'HOME_AVG_AGE_JOINING', 
    'AVG_AGE_LEAVING': 'HOME_AVG_AGE_LEAVING', 
    'TOTAL_VALUE_JOINING_MIO': 'HOME_TOTAL_VALUE_JOINING_MIO', 
    'TOTAL_VALUE_LEAVING_MIO': 'HOME_TOTAL_VALUE_LEAVING_MIO', 
    'EXPENSES_JOINING_MIO': 'HOME_EXPENSES_JOINING_MIO',
    'REVENUE_LEAVING_MIO': 'HOME_REVENUE_LEAVING_MIO'
})
tmp2_df

,DATE,WEEKDAY,MONTH,SEASON,MATCHDAY,HOME_TEAM,PLACE_HOME_TEAM,AWAY_TEAM,PLACE_AWAY_TEAM,WIN_PERC_HOME,...,HOME_LEGIONARIES_COUNT,HOME_AVG_MARKET_VALUE,HOME_TOTAL_MARKET_VALUE,season,HOME_AVG_AGE_JOINING,HOME_AVG_AGE_LEAVING,HOME_TOTAL_VALUE_JOINING_MIO,HOME_TOTAL_VALUE_LEAVING_MIO,HOME_EXPENSES_JOINING_MIO,HOME_REVENUE_LEAVING_MIO
0,2004-08-06,4,8,2004,1,SV Werder Bremen,3,FC Schalke 04,2,NaN,...,14,"3,40 Mio. €","98,48 Mio. €",2004,24.8,26.4,,,9.0,6.45
1,2004-08-07,5,8,2004,1,1.FC Kaiserslautern,12,1.FC Nürnberg,14,NaN,...,14,"1,05 Mio. €","33,75 Mio. €",2004,25.8,27.6,0.075,,0.55,6.0
2,2004-08-07,5,8,2004,1,SC Freiburg,18,FC Hansa Rostock,17,NaN,...,19,701 Tsd. €,"22,43 Mio. €",2004,22.4,24.8,,0.075,1.4,0.05
3,2004-08-07,5,8,2004,1,Borussia Dortmund,7,VfL Wolfsburg,9,NaN,...,18,"2,18 Mio. €","78,33 Mio. €",2004,21.9,26.2,,,,10.15
4,2004-08-07,5,8,2004,1,Bayer 04 Leverkusen,6,Hannover 96,10,NaN,...,15,"2,72 Mio. €","86,93 Mio. €",2004,23.0,25.0,,,3.75,15.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5809,2023-05-27,5,5,2022,34,Borussia Mönchengladbach,11,FC Augsburg,14,68.9,...,16,"6,91 Mio. €","241,68 Mio. €",2022,22.1,23.8,45.55,64.03,24.0,23.0
5810,2023-05-27,5,5,2022,34,Eintracht Frankfurt,8,SC Freiburg,5,31.4,...,22,"9,02 Mio. €","324,55 Mio. €",2022,22.6,24.2,157.75,66.3,27.8,18.4
5811,2023-05-27,5,5,2022,34,VfL Wolfsburg,7,Hertha BSC,18,93.6,...,20,"7,22 Mio. €","238,30 Mio. €",2022,22.3,24.6,78.6,73.45,35.75,23.7
5812,2023-05-27,5,5,2022,34,VfL Bochum,16,Bayer 04 Leverkusen,6,13.0,...,18,"1,68 Mio. €","53,70 Mio. €",2022,25.4,26.0,26.8,39.48,1.79,16.05
5813,2023-05-27,5,5,2022,34,VfB Stuttgart,15,TSG 1899 Hoffenheim,13,70.9,...,21,"3,87 Mio. €","151,05 Mio. €",2022,22.8,22.8,72.75,99.9,14.99,52.6

In [111]:
nan_count = tmp2_df.isna().sum()
print(nan_count)

DATE                               0
WEEKDAY                            0
MONTH                              0
SEASON                             0
MATCHDAY                           0
HOME_TEAM                          0
PLACE_HOME_TEAM                    0
AWAY_TEAM                          0
PLACE_AWAY_TEAM                    0
WIN_PERC_HOME                   1530
REMIS_PERC                      1530
WIN_PERC_AWAY                   1530
HOME_GOALS                         0
AWAY_GOALS                         0
RESULT                             0
REFEREE                            0
CLUB_NAME                          0
HOME_PLAYERS_COUNT                 0
HOME_PLAYERS_AVG_AGE               0
HOME_LEGIONARIES_COUNT             0
HOME_AVG_MARKET_VALUE              0
HOME_TOTAL_MARKET_VALUE            0
season                             0
HOME_AVG_AGE_JOINING               0
HOME_AVG_AGE_LEAVING               0
HOME_TOTAL_VALUE_JOINING_MIO       0
HOME_TOTAL_VALUE_LEAVING_MIO       0
HOME_EXPENSES_JOINING_MIO          0
HOME_REVENUE_LEAVING_MIO           0
dtype: int64

In [112]:
# merge matchday data for away team
df = tmp2_df.merge(tmp_df, left_on=['AWAY_TEAM', 'SEASON'], right_on=['CLUB_NAME', 'season'], how='left')
df = df.rename(columns= {
    'PLAYERS_COUNT': 'AWAY_PLAYERS_COUNT',
    'PLAYERS_AVG_AGE': 'AWAY_PLAYERS_AVG_AGE',
    'LEGIONARIES_COUNT': 'AWAY_LEGIONARIES_COUNT',
    'AVG_MARKET_VALUE': 'AWAY_AVG_MARKET_VALUE',
    'TOTAL_MARKET_VALUE': 'AWAY_TOTAL_MARKET_VALUE',
    'AVG_AGE_JOINING': 'AWAY_AVG_AGE_JOINING', 
    'AVG_AGE_LEAVING': 'AWAY_AVG_AGE_LEAVING', 
    'TOTAL_VALUE_JOINING_MIO': 'AWAY_TOTAL_VALUE_JOINING_MIO', 
    'TOTAL_VALUE_LEAVING_MIO': 'AWAY_TOTAL_VALUE_LEAVING_MIO', 
    'EXPENSES_JOINING_MIO': 'AWAY_EXPENSES_JOINING_MIO',
    'REVENUE_LEAVING_MIO': 'AWAY_REVENUE_LEAVING_MIO'
})
df = df.drop(['CLUB_NAME_x', 'CLUB_NAME_y', 'season_x', 'season_y'], axis=1)

In [113]:
nan_count = df.isna().sum()
print(nan_count)

DATE                               0
WEEKDAY                            0
MONTH                              0
SEASON                             0
MATCHDAY                           0
HOME_TEAM                          0
PLACE_HOME_TEAM                    0
AWAY_TEAM                          0
PLACE_AWAY_TEAM                    0
WIN_PERC_HOME                   1530
REMIS_PERC                      1530
WIN_PERC_AWAY                   1530
HOME_GOALS                         0
AWAY_GOALS                         0
RESULT                             0
REFEREE                            0
HOME_PLAYERS_COUNT                 0
HOME_PLAYERS_AVG_AGE               0
HOME_LEGIONARIES_COUNT             0
HOME_AVG_MARKET_VALUE              0
HOME_TOTAL_MARKET_VALUE            0
HOME_AVG_AGE_JOINING               0
HOME_AVG_AGE_LEAVING               0
HOME_TOTAL_VALUE_JOINING_MIO       0
HOME_TOTAL_VALUE_LEAVING_MIO       0
HOME_EXPENSES_JOINING_MIO          0
HOME_REVENUE_LEAVING_MIO           0
AWAY_PLAYERS_COUNT                 0
AWAY_PLAYERS_AVG_AGE               0
AWAY_LEGIONARIES_COUNT             0
AWAY_AVG_MARKET_VALUE              0
AWAY_TOTAL_MARKET_VALUE            0
AWAY_AVG_AGE_JOINING               0
AWAY_AVG_AGE_LEAVING               0
AWAY_TOTAL_VALUE_JOINING_MIO       0
AWAY_TOTAL_VALUE_LEAVING_MIO       0
AWAY_EXPENSES_JOINING_MIO          0
AWAY_REVENUE_LEAVING_MIO           0
dtype: int64

In [114]:
# save  merge club data with transfer data for each club and season
df.to_pickle("df_merge_club_transfer_data.pkl")